body {
    font-family: 'Roboto', sans-serif;
    background-color: #faf8ef;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    gap: 10px;
    background-color: #bbada0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.cool-title {
    text-align: center;
    color: #776e65;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.tile {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #776e65;
    background-color: #eee4da;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.tile-2 { background-color: #eee4da; color: #776e65; }
.tile-4 { background-color: #ede0c8; color: #776e65; }
.tile-8 { background-color: #f2b179; color: #f9f6f2; }
.tile-16 { background-color: #f59563; color: #f9f6f2; }
.tile-32 { background-color: #f67c5f; color: #f9f6f2; }
.tile-64 { background-color: #f65e3b; color: #f9f6f2; }
.tile-128 { background-color: #edcf72; color: #f9f6f2; }
.tile-256 { background-color: #edcc61; color: #f9f6f2; }
.tile-512 { background-color: #edc850; color: #f9f6f2; }
.tile-1024 { background-color: #edc53f; color: #f9f6f2; }
.tile-2048 { background-color: #edc22e; color: #f9f6f2; }
.tile i {
    font-size: 40px;
    color: #ffffff;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile-number {
    font-size: 25px;
    margin-top: 1px;
}

#scoreboard {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    background-color: #776e65;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    width: 300px;
    text-align: center;
}

.score-box,
.best-box,
.moves-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.label,
.value {
    font-size: 16px;
    color: #f9f6f2;
}

#new-game-btn,
#help-button,
#reshuffle-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #8f7a66;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#new-game-btn:hover,
#help-button:hover,
#reshuffle-btn:hover {
    background-color: #a08c79;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content,
#help-modal .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Update the background color of the Help modal content */
#help-modal .modal-content {
    background-color: #f8f8f8;
    /* Light gray background color */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
    margin: 10% auto;
    position: relative; /* Add this line to set the position context for absolute positioning */
}

/* Style the title in the Help modal */
#help-modal h2 {
    color: #333;
    /* Darker text color for the title */
    margin-bottom: 10px;
}

#help-modal .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute; /* Add this line to position it absolutely within the modal content */
    top: 10px;
    right: 10px;
}

#help-modal .close:hover,
#help-modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.icon-background {
    background-size: cover;
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#reshuffle-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #8f7a66;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#reshuffle-btn:hover {
    background-color: #a08c79;
}

/* Add a default style for modals */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(51, 51, 51, 0.8);
    /* Dark gray with transparency */
    padding: 20px;
    border-radius: 10px;
    color: rgba(12, 12, 12, 0.9);
    /* White with transparency */
    z-index: 2;
}

/* Style the modal content */
.modal-content {
    text-align: center;
}

/* Add a specific class to the close button in the game over modal */
#game-over-modal .close {
    display: none; /* Hide the close button in the game over modal */
}

/* Style the retry button in the game over modal */
#game-over-modal #retry-button {
    background-color: #4caf50; /* Green */
    color: rgba(255, 255, 255, 0.9); /* White with transparency */
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

/* Add a hover effect for the retry button in the game over modal */
#game-over-modal #retry-button:hover {
    background-color: #45a049;
}